body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff7e6;
}
header {
    background-color: #ffcc99;
    padding: 30px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 998;
}
nav {
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 15px;
    left: 76%;
    z-index: 999;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #d2691e;
    font-weight: bold;
}
.contact-info {
    position: absolute;
    top: 15px;
    left: 10px;
}
.contact-info img {
    width: 40px;
    vertical-align: middle;
}
.contact-info a {
    margin: 0 5px;
    text-decoration: none;
    color: #d2691e;
    font-weight: bold;
}
.logo {
    width: 150px;
    height: auto;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content {
    display: flex;
    padding: 160px 20px 20px;
    justify-content: space-between;
}
.content-left {
    width: 60%;
    padding-right: 20px;
}
.content-right {
    width: 35%;
    padding-left: 20px;
    border-left: 1px solid #d2691e;
}
.order-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.order-item img {
    width: 80px;
    height: auto;
    margin-right: 20px;
    border: 1px solid #d2691e;
    border-radius: 10px;
}
.order-item-details {
    flex-grow: 1;
}
.order-item-price {
    font-size: 18px;
    color: #d2691e;
}
.quantity-controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.quantity-controls button {
    background-color: #d2691e;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    margin: 0 5px;
}
.quantity-controls span {
    font-size: 18px;
    color: #d2691e;
    margin: 0 5px;
}
.order-summary {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #d2691e;
}
.order-summary h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #d2691e;
}
.order-summary p {
    font-size: 18px;
    color: #d2691e;
    margin: 10px 0;
}
.button-container {
    text-align: center;
    margin: 20px;
}
.button-container button {
    background-color: #d2691e;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.button-container button:hover {
    background-color: #ffcc99;
    color: #d2691e;
}
.alert {
    display: none;
    color: red;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}